<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a rooterLink="/administracion/cliente">Cliente</a></li>
        <li><a rooterLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
        <li><a rooterLink="/seguridad/identificar">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>

  <ul class="right hide-on-med-and-down" id="mobile-demo">
    
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a rooterLink="/administracion/cliente">cliente</a></li>
    <li><a rooterLink="badges.html">Components</a></li>
    <li><a rooterLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
    <li><a rooterLink="/seguridad/identificar">Iniciar Sesión</a></li>
  </ul>

