
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Integrantes</h5>
          <p class="grey-text text-lighten-4">1</p>
          <p class="grey-text text-lighten-4">2</p>
          <p class="grey-text text-lighten-4">3</p>
          <p class="grey-text text-lighten-4">4</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Github</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/mintic3/proyecto-ciclo4">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>