<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
	

</head>  
<body>
    <form [formGroup]="fgValidador" (onSubmit)="IdentificarUsuario()">
    
    <h1>Login</h1>
     <div class="contenedor">
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input formControlName="usuario" type="text" placeholder="Usuario">
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input formControlName="clave" type="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Login" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="registrarvista.html">Registrate </a></p>
     </div>
    </form>
</body>
</html>